/* Blog Posts Medium Breakpoint (MD) */
#{{ component_id }}.layout-grid .posts-container {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1.75rem;
}

#{{ component_id }} .post-content {
    padding: 1.4rem;
}

#{{ component_id }} .post-title {
    font-size: 1.2rem;
}